@model MvcRestaurant.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscriminatorValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscriminatorValue)
        </dd>
    </dl>
</div>