@{
    ViewData["Title"] = "Home Page";

    <h3>@ViewData["Message"]</h3>

    <br />

    <p> Welcome to MvcRestaurant. This is a restaurant management tool, hoping to help you simulate your perfect restauarant while i practice asp .net</p>
}
